<div class="country-card-wrapper">
  <h1 class="country-name">{{}}</h1>
  <ul class="country-properties-list">
    <li class="coutry-property">{{}}</li>
    <li class="coutry-property">{{}}</li>
    <li class="coutry-property"></li>
  </ul>

</div>